{{ 'sectionHeaderCss.css' | asset_url | stylesheet_tag }}
{{ 'sectionCommonCss.css' | asset_url | stylesheet_tag }}
<div class="sectionHeader">
  <div class="sectionHeader__container">
    <div class="sectionHeader__inner">
      {% if section.settings.sectionHeader_logo == blank %}
        <div class="sectionHeader__logo">
          <img src="{{ 'Group (1).png'| asset_url }}">
        </div>
      {% else %}
        <div class="sectionHeader__logo">
          <img src="{{ section.settings.sectionHeader_logo | img_url: "master"}}">
        </div>
      {% endif %}
      <button class="sectionHeader-hb">
        <span class="sectionHeader-hb-bar"></span>
        <span class="sectionHeader-hb-bar"></span>
      </button>
      <div class="sectionHeader__desktopNav desktopMenuItems">
        {% render 'headerUl' %}
      </div>

      <div class="sectionHeader__mobileNav">
        <div class="sectionHeader__mobileNav_header">
          {% if section.settings.sectionHeader_mobilLogo == blank %}
            <div class="sectionHeader__mobileNav_header__logo">
              {% render 'sectionHeaderLogoImg' %}
            </div>
          {% else %}
            <div class="sectionHeader__mobileNav_header__logo">
              <img src="{{ section.settings.sectionHeader_mobilLogo | img_url: "master"}}">
            </div>
          {% endif %}
          <div class="sectionHeader__mobileNav_header__closeImg">
            {% render 'sectionHeaderCloseBtnImg' %}
          </div>
        </div>
        <div class="sectionHeader__mobileNav_header__nav">
          <div class="sectionHeader__mobileNav_header__nav_ul H2Font">
            {% render 'headerUl' %}
          </div>
          <div class="sectionHeader__mobileNav_contactButton">
            {% assign buttonText = section.settings.buttonTextMobile %}
            {% render 'contactButton', buttonText: buttonText %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .sectionHeader__logo{
    padding:{{section.settings.padding}}px 0;
  }
</style>

<script>
  document.querySelector('.sectionHeader-hb').addEventListener('click',()=> {
    document.querySelector('.sectionHeader').classList.toggle('nav-active');
  } );
   document.querySelector('.sectionHeader__mobileNav_header__closeImg').addEventListener('click',()=> {
    document.querySelector('.sectionHeader').classList.remove('nav-active');
  } );
</script>
{% schema %}
{
  "name": "sectionHeader",
  "tag":"header",
  "class": "header",
  "settings": [

     {
          "type":"image_picker",
          "id":"sectionHeader_logo",
          "label":"Logo"
        },
     {
          "type":"image_picker",
          "id":"sectionHeader_mobilLogo",
          "label":"Mobile Logo"
        },
     {
        "type": "range",
        "id":"padding",
        "label": "Header height",
        "default":1,
        "min":0,
        "max": 100,
        "step": 1
      },



      {
          "type":"inline_richtext",
          "id":"buttonTextMobile",
          "default":" CONTACT US",
          "label":"Button text"
      }
  ],
   "blocks":[
 ],
    "presets":[
  {
    "name":"sectionHeader",
    "blocks": [

      ]
  }
]
}
{% endschema %}
