{{ 'sectionHeaderCss.css' | asset_url | stylesheet_tag }}
{{ 'sectionCommonCss.css' | asset_url | stylesheet_tag }}
<div class="sectionHeader">
  <div class="sectionHeader__container">
    <div class="sectionHeader__inner">
      {% if section.settings.sectionHeader_logo == blank %}
        <div class="sectionHeader__logo">
          <svg
            class="logo_svg"

            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <desc>
            		Created with Pixso.
            </desc>

            <path d="M42.98 12.13L44.3 41.68L38.08 41.68L37.62 30.4L22.9 52.36L16.51 31.75L6.74 55L0 55L17.34 13.76L24.95 38.23L42.98 12.13Z" fill="#0B0D21" fill-opacity="1.000000" fill-rule="nonzero"/>
            <path d="M29.07 0C44.1 0 56.28 12.2 56.28 27.26C56.28 38.65 49.31 48.41 39.4 52.49L39.4 48.63C47.32 44.79 52.77 36.66 52.77 27.26C52.77 14.14 42.16 3.51 29.07 3.51C15.98 3.51 5.37 14.14 5.37 27.26C5.37 32.74 7.23 37.78 10.34 41.8L7.94 41.8L7.94 44.43C4.14 39.74 1.86 33.77 1.86 27.26C1.86 12.2 14.05 0 29.07 0Z" fill="#0B0D21" fill-opacity="1.000000" fill-rule="nonzero"/>
            <path d="M39.7 48.52L38.05 47.69L34.45 47.69L34.45 53.2L38.05 53.2L39.7 52.36L39.7 48.52Z" fill="#0B0D21" fill-opacity="1.000000" fill-rule="evenodd"/>
            <path d="M30.87 48.52L34.45 48.52L34.45 49.89L30.87 49.89L30.87 48.52Z" fill="#0B0D21" fill-opacity="1.000000" fill-rule="evenodd"/>
            <path d="M30.87 51L34.45 51L34.45 52.38L30.87 52.38L30.87 51Z" fill="#0B0D21" fill-opacity="1.000000" fill-rule="evenodd"/>
            <path d="M72.08 22.31L70.89 19.62L70.34 22.31L68.58 31.2L65.71 31.2L69.65 12.16L69.96 12.16L75.19 22.44L76.75 25.89L78.3 22.44L83.43 12.16L83.72 12.16L87.81 31.2L84.96 31.2L83.04 22.31L82.47 19.62L81.44 22.31L76.82 31.2L76.67 31.2L72.08 22.31ZM95.26 31.46C94.18 31.46 93.2 31.21 92.29 30.7C91.38 30.19 90.66 29.46 90.11 28.52C89.57 27.58 89.3 26.48 89.3 25.22C89.3 23.97 89.53 22.88 90.01 21.95C90.48 21.02 91.16 20.29 92.04 19.77C92.92 19.26 93.96 19 95.15 19C95.84 19 96.49 19.12 97.1 19.36C97.7 19.6 98.21 19.9 98.62 20.25C99.04 20.61 99.32 20.96 99.45 21.3L99.51 19.31L102.18 19.31L102.18 31.2L99.53 31.2L99.48 29.1C99.19 29.73 98.65 30.27 97.87 30.75C97.1 31.22 96.22 31.46 95.26 31.46ZM95.72 29.13C96.71 29.13 97.54 28.79 98.21 28.11C98.88 27.42 99.22 26.53 99.22 25.42L99.22 25.24C99.22 24.5 99.07 23.83 98.75 23.25C98.44 22.66 98.02 22.2 97.49 21.87C96.95 21.55 96.36 21.38 95.72 21.38C94.62 21.38 93.76 21.74 93.16 22.46C92.55 23.17 92.25 24.1 92.25 25.24C92.25 26.4 92.55 27.34 93.14 28.05C93.74 28.77 94.6 29.13 95.72 29.13ZM105.26 19.31L108.05 19.31L108.05 21.64C108.33 20.85 108.78 20.21 109.4 19.72C110.02 19.24 110.73 19 111.53 19C112.08 19 112.46 19.05 112.67 19.15L112.28 21.98C112.12 21.87 111.79 21.82 111.27 21.82C110.46 21.82 109.72 22.08 109.05 22.6C108.39 23.12 108.05 23.95 108.05 25.09L108.05 31.2L105.26 31.2L105.26 19.31ZM114.15 19.31L117.33 19.31L119.9 24.67L120.73 26.82L121.56 24.67L124.1 19.31L127.21 19.31L120.96 31.2L120.42 31.2L114.15 19.31ZM134.31 31.46C132.89 31.46 131.71 31.18 130.76 30.62C129.81 30.06 129.11 29.31 128.66 28.37C128.21 27.42 127.98 26.39 127.98 25.27C127.98 24.01 128.25 22.9 128.77 21.95C129.3 21 130.03 20.27 130.96 19.76C131.9 19.25 132.95 19 134.13 19C135.96 19 137.32 19.5 138.21 20.51C139.1 21.52 139.54 22.95 139.54 24.78C139.54 25.24 139.52 25.73 139.46 26.23L130.91 26.23C131.1 27.28 131.48 28.04 132.04 28.51C132.6 28.97 133.38 29.21 134.38 29.21C135.21 29.21 135.89 29.14 136.43 29C136.97 28.86 137.46 28.67 137.91 28.43L138.77 30.43C138.33 30.7 137.75 30.94 137 31.15C136.26 31.36 135.36 31.46 134.31 31.46ZM136.82 24.28C136.84 23.21 136.6 22.46 136.12 22.02C135.64 21.58 134.95 21.36 134.05 21.36C132.23 21.36 131.19 22.33 130.91 24.28L136.82 24.28ZM142.7 12.16L145.48 12.16L145.48 31.2L142.7 31.2L142.7 12.16ZM65.43 36.92L67.34 36.92C67.81 36.92 68.17 37.07 68.41 37.36C68.64 37.65 68.76 38 68.76 38.42C68.76 38.84 68.64 39.19 68.41 39.48C68.17 39.77 67.81 39.91 67.34 39.91L66.08 39.91L66.08 41.71L65.43 41.71L65.43 36.92ZM67.33 37.52L66.08 37.52L66.08 39.31L67.3 39.31C67.57 39.31 67.78 39.22 67.91 39.05C68.05 38.88 68.12 38.67 68.12 38.42C68.12 38.18 68.05 37.96 67.92 37.79C67.79 37.61 67.59 37.52 67.33 37.52ZM69.91 39.32C69.91 38.64 70.14 38.06 70.61 37.58C71.08 37.1 71.65 36.86 72.32 36.86C73 36.86 73.58 37.1 74.05 37.58C74.52 38.06 74.75 38.64 74.75 39.32C74.75 40 74.52 40.58 74.05 41.06C73.58 41.54 73 41.78 72.32 41.78C71.65 41.78 71.08 41.54 70.61 41.06C70.14 40.58 69.91 40 69.91 39.32ZM71.07 38.02C70.72 38.38 70.55 38.81 70.55 39.32C70.55 39.83 70.72 40.27 71.06 40.62C71.4 40.97 71.82 41.15 72.32 41.15C72.82 41.15 73.25 40.97 73.59 40.62C73.93 40.27 74.1 39.83 74.1 39.32C74.1 38.81 73.93 38.38 73.59 38.02C73.25 37.67 72.82 37.49 72.32 37.49C71.83 37.49 71.41 37.67 71.07 38.02ZM81.05 36.92L81.74 36.92L80.12 41.71L79.56 41.71L78.71 38.72L77.87 41.71L77.31 41.71L75.69 36.92L76.38 36.92L77.58 40.66L78.47 37.57L78.96 37.57L79.84 40.66L81.05 36.92ZM83.08 36.92L85.91 36.92L85.91 37.52L83.72 37.52L83.72 39.05L85.63 39.05L85.63 39.66L83.72 39.66L83.72 41.1L85.98 41.1L85.98 41.71L83.08 41.71L83.08 36.92ZM89.59 39.89L90.87 41.71L90.08 41.71L88.85 39.91L88.23 39.91L88.23 41.71L87.58 41.71L87.58 36.92L89.42 36.92C89.9 36.92 90.25 37.07 90.49 37.36C90.72 37.65 90.84 38 90.84 38.42C90.84 38.81 90.74 39.14 90.53 39.42C90.33 39.7 90.01 39.86 89.59 39.89ZM89.4 37.52L88.23 37.52L88.23 39.31L89.37 39.31C89.65 39.31 89.85 39.22 89.98 39.05C90.11 38.88 90.17 38.67 90.17 38.42C90.17 38.18 90.11 37.96 89.98 37.79C89.85 37.61 89.66 37.52 89.4 37.52ZM98.57 37.5L98.1 37.93C97.77 37.63 97.39 37.48 96.95 37.48C96.46 37.48 96.04 37.66 95.69 38.02C95.35 38.38 95.18 38.81 95.18 39.32C95.18 39.83 95.35 40.27 95.69 40.62C96.04 40.98 96.46 41.16 96.95 41.16C97.39 41.16 97.75 41.04 98.03 40.81C98.31 40.57 98.46 40.26 98.48 39.87L97.12 39.87L97.12 39.3L99.22 39.3C99.22 40.12 99.01 40.74 98.61 41.15C98.21 41.57 97.66 41.78 96.95 41.78C96.28 41.78 95.7 41.54 95.24 41.06C94.77 40.58 94.53 40 94.53 39.32C94.53 38.64 94.77 38.06 95.24 37.58C95.7 37.1 96.28 36.86 96.95 36.86C97.58 36.86 98.12 37.08 98.57 37.5ZM102.69 39.89L103.96 41.71L103.18 41.71L101.94 39.91L101.33 39.91L101.33 41.71L100.68 41.71L100.68 36.92L102.52 36.92C102.99 36.92 103.35 37.07 103.58 37.36C103.82 37.65 103.94 38 103.94 38.42C103.94 38.81 103.83 39.14 103.63 39.42C103.42 39.7 103.11 39.86 102.69 39.89ZM102.5 37.52L101.33 37.52L101.33 39.31L102.47 39.31C102.75 39.31 102.95 39.22 103.08 39.05C103.21 38.88 103.27 38.67 103.27 38.42C103.27 38.18 103.21 37.96 103.08 37.79C102.95 37.61 102.76 37.52 102.5 37.52ZM105.25 39.32C105.25 38.64 105.48 38.06 105.95 37.58C106.42 37.1 106.99 36.86 107.66 36.86C108.35 36.86 108.92 37.1 109.39 37.58C109.86 38.06 110.1 38.64 110.1 39.32C110.1 40 109.86 40.58 109.39 41.06C108.92 41.54 108.35 41.78 107.66 41.78C106.99 41.78 106.42 41.54 105.95 41.06C105.48 40.58 105.25 40 105.25 39.32ZM106.41 38.02C106.06 38.38 105.89 38.81 105.89 39.32C105.89 39.83 106.06 40.27 106.4 40.62C106.74 40.97 107.16 41.15 107.66 41.15C108.16 41.15 108.59 40.97 108.93 40.62C109.27 40.27 109.44 39.83 109.44 39.32C109.44 38.81 109.27 38.38 108.93 38.02C108.59 37.67 108.16 37.49 107.66 37.49C107.17 37.49 106.75 37.67 106.41 38.02ZM112.59 40.85C112.81 41.05 113.06 41.15 113.37 41.15C113.68 41.15 113.93 41.05 114.15 40.85C114.36 40.64 114.47 40.38 114.47 40.06L114.47 36.92L115.12 36.92L115.12 40.06C115.12 40.57 114.95 40.98 114.61 41.3C114.27 41.62 113.86 41.78 113.37 41.78C112.88 41.78 112.47 41.62 112.13 41.3C111.79 40.98 111.62 40.57 111.62 40.06L111.62 36.92L112.27 36.92L112.27 40.06C112.27 40.38 112.38 40.64 112.59 40.85ZM118.87 36.92C119.34 36.92 119.7 37.07 119.93 37.36C120.17 37.65 120.29 38 120.29 38.42C120.29 38.84 120.17 39.19 119.93 39.48C119.7 39.77 119.34 39.91 118.87 39.91L117.61 39.91L117.61 41.71L116.96 41.71L116.96 36.92L118.87 36.92ZM118.86 37.52L117.61 37.52L117.61 39.31L118.83 39.31C119.1 39.31 119.31 39.22 119.44 39.05C119.58 38.88 119.65 38.67 119.65 38.42C119.65 38.18 119.58 37.96 119.45 37.79C119.32 37.61 119.12 37.52 118.86 37.52Z" fill="#0B0D21" fill-opacity="1.000000" fill-rule="nonzero"/>
          </svg>
        </div>
      {% else %}
        <div class="sectionHeader__logo">
          <img src="{{ section.settings.sectionHeader_logo | img_url: "master"}}">
        </div>
      {% endif %}
      <button class="sectionHeader-hb">
        <span class="sectionHeader-hb-bar"></span>
        <span class="sectionHeader-hb-bar"></span>
      </button>
      <div class="sectionHeader__desktopNav desktopMenuItems">
        {% render 'headerUl' %}
      </div>

      <div class="sectionHeader__mobileNav">
        <div class="sectionHeader__mobileNav_header">
          {% if section.settings.sectionHeader_mobilLogo == blank %}
            <div class="sectionHeader__mobileNav_header__logo">
              <svg
                width="101.000000"
                height="38.000000"
                viewBox="0 0 101 38"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <desc>
                		Created with Pixso.
                </desc>
                <defs/>
                <path id="Vector" d="M29.54 8.38L30.45 28.79L26.17 28.79L25.86 21.01L15.74 36.17L11.35 21.94L4.63 38L0 38L11.92 9.5L17.15 26.41L29.54 8.38Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="nonzero"/>
                <path id="Vector" d="M19.98 0C30.31 0 38.69 8.43 38.69 18.83C38.69 26.7 33.89 33.45 27.08 36.26L27.08 33.6C32.52 30.94 36.27 25.33 36.27 18.83C36.27 9.77 28.98 2.43 19.98 2.43C10.99 2.43 3.69 9.77 3.69 18.83C3.69 22.62 4.97 26.1 7.1 28.88L5.46 28.88L5.46 30.7C2.84 27.46 1.28 23.33 1.28 18.83C1.28 8.43 9.65 0 19.98 0Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="nonzero"/>
                <path id="Vector" d="M27.29 33.52L26.16 32.95L23.68 32.95L23.68 36.76L26.16 36.76L27.29 36.17L27.29 33.52Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd"/>
                <path id="Vector" d="M21.22 33.52L23.68 33.52L23.68 34.47L21.22 34.47L21.22 33.52Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd"/>
                <path id="Vector" d="M21.22 35.23L23.68 35.23L23.68 36.19L21.22 36.19L21.22 35.23Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd"/>
                <path id="Vector" d="M49.55 15.42L48.73 13.55L48.35 15.42L47.14 21.56L45.16 21.56L47.87 8.4L48.08 8.4L51.68 15.51L52.75 17.89L53.82 15.51L57.35 8.4L57.54 8.4L60.36 21.56L58.4 21.56L57.08 15.42L56.69 13.55L55.98 15.42L52.81 21.56L52.7 21.56L49.55 15.42ZM65.48 21.74C64.74 21.74 64.06 21.56 63.44 21.21C62.81 20.86 62.31 20.35 61.94 19.7C61.57 19.05 61.38 18.29 61.38 17.42C61.38 16.56 61.54 15.81 61.87 15.17C62.2 14.52 62.66 14.02 63.27 13.66C63.87 13.3 64.58 13.12 65.41 13.12C65.88 13.12 66.33 13.21 66.74 13.37C67.16 13.54 67.51 13.75 67.79 13.99C68.08 14.24 68.27 14.48 68.36 14.72L68.4 13.34L70.23 13.34L70.23 21.56L68.41 21.56L68.38 20.11C68.18 20.54 67.81 20.92 67.27 21.24C66.74 21.57 66.14 21.74 65.48 21.74ZM65.8 20.12C66.47 20.12 67.04 19.89 67.51 19.42C67.97 18.95 68.2 18.33 68.2 17.56L68.2 17.44C68.2 16.93 68.09 16.47 67.88 16.06C67.67 15.65 67.38 15.34 67.01 15.11C66.64 14.88 66.24 14.77 65.8 14.77C65.04 14.77 64.45 15.02 64.03 15.51C63.62 16.01 63.41 16.65 63.41 17.44C63.41 18.24 63.61 18.89 64.02 19.38C64.43 19.88 65.02 20.12 65.8 20.12ZM72.35 13.34L74.27 13.34L74.27 14.95C74.46 14.4 74.77 13.96 75.2 13.63C75.63 13.29 76.11 13.12 76.66 13.12C77.04 13.12 77.3 13.16 77.44 13.23L77.18 15.18C77.07 15.11 76.84 15.08 76.48 15.08C75.92 15.08 75.41 15.25 74.96 15.61C74.5 15.97 74.27 16.54 74.27 17.33L74.27 21.56L72.35 21.56L72.35 13.34ZM78.46 13.34L80.65 13.34L82.41 17.04L82.99 18.53L83.55 17.04L85.3 13.34L87.44 13.34L83.15 21.56L82.77 21.56L78.46 13.34ZM92.32 21.74C91.34 21.74 90.53 21.54 89.88 21.15C89.23 20.77 88.75 20.25 88.43 19.6C88.13 18.95 87.97 18.23 87.97 17.46C87.97 16.59 88.15 15.82 88.51 15.17C88.88 14.51 89.38 14 90.02 13.65C90.66 13.3 91.39 13.12 92.19 13.12C93.45 13.12 94.39 13.47 95 14.17C95.61 14.87 95.92 15.85 95.92 17.12C95.92 17.44 95.9 17.77 95.86 18.12L89.99 18.12C90.12 18.85 90.37 19.37 90.76 19.7C91.15 20.02 91.68 20.18 92.37 20.18C92.94 20.18 93.41 20.13 93.78 20.04C94.15 19.94 94.49 19.81 94.79 19.64L95.38 21.02C95.08 21.21 94.68 21.38 94.17 21.52C93.66 21.66 93.04 21.74 92.32 21.74ZM94.05 16.78C94.06 16.04 93.9 15.51 93.57 15.21C93.23 14.91 92.76 14.75 92.14 14.75C90.89 14.75 90.17 15.43 89.99 16.78L94.05 16.78ZM98.09 8.4L100 8.4L100 21.56L98.09 21.56L98.09 8.4ZM44.97 25.51L46.29 25.51C46.61 25.51 46.86 25.61 47.02 25.81C47.18 26.01 47.27 26.26 47.27 26.54C47.27 26.83 47.18 27.08 47.02 27.28C46.86 27.48 46.61 27.58 46.29 27.58L45.42 27.58L45.42 28.81L44.97 28.81L44.97 25.51ZM46.28 25.92L45.42 25.92L45.42 27.16L46.26 27.16C46.45 27.16 46.59 27.1 46.68 26.98C46.77 26.86 46.82 26.71 46.82 26.54C46.82 26.37 46.78 26.23 46.69 26.11C46.59 25.99 46.46 25.92 46.28 25.92ZM48.05 27.17C48.05 26.69 48.21 26.29 48.53 25.96C48.85 25.63 49.25 25.47 49.71 25.47C50.18 25.47 50.58 25.63 50.9 25.96C51.22 26.29 51.38 26.69 51.38 27.17C51.38 27.64 51.22 28.04 50.9 28.37C50.58 28.7 50.18 28.86 49.71 28.86C49.25 28.86 48.85 28.7 48.53 28.37C48.21 28.04 48.05 27.64 48.05 27.17ZM48.85 26.27C48.61 26.52 48.5 26.82 48.5 27.17C48.5 27.52 48.61 27.82 48.85 28.06C49.08 28.31 49.37 28.43 49.71 28.43C50.06 28.43 50.35 28.31 50.58 28.06C50.82 27.82 50.93 27.52 50.93 27.17C50.93 26.82 50.82 26.52 50.58 26.27C50.35 26.02 50.06 25.9 49.71 25.9C49.37 25.9 49.08 26.02 48.85 26.27ZM55.71 25.51L56.18 25.51L55.07 28.81L54.69 28.81L54.1 26.75L53.53 28.81L53.14 28.81L52.03 25.51L52.5 25.51L53.33 28.09L53.94 25.95L54.27 25.95L54.88 28.09L55.71 25.51ZM57.1 25.51L59.05 25.51L59.05 25.92L57.55 25.92L57.55 26.98L58.86 26.98L58.86 27.4L57.55 27.4L57.55 28.4L59.1 28.4L59.1 28.81L57.1 28.81L57.1 25.51ZM61.58 27.56L62.46 28.81L61.92 28.81L61.07 27.58L60.65 27.58L60.65 28.81L60.2 28.81L60.2 25.51L61.47 25.51C61.79 25.51 62.03 25.61 62.2 25.81C62.36 26.01 62.44 26.26 62.44 26.54C62.44 26.81 62.37 27.04 62.23 27.24C62.09 27.43 61.87 27.54 61.58 27.56ZM61.45 25.92L60.65 25.92L60.65 27.16L61.43 27.16C61.62 27.16 61.76 27.1 61.85 26.98C61.94 26.86 61.98 26.72 61.98 26.54C61.98 26.37 61.94 26.23 61.85 26.11C61.76 25.99 61.63 25.92 61.45 25.92ZM67.75 25.91L67.43 26.2C67.21 26 66.94 25.9 66.64 25.9C66.3 25.9 66.01 26.02 65.78 26.27C65.54 26.52 65.42 26.82 65.42 27.17C65.42 27.52 65.54 27.82 65.78 28.07C66.01 28.31 66.3 28.44 66.64 28.44C66.94 28.44 67.19 28.35 67.38 28.19C67.58 28.03 67.68 27.81 67.69 27.54L66.76 27.54L66.76 27.15L68.2 27.15C68.2 27.72 68.06 28.15 67.78 28.43C67.51 28.72 67.13 28.86 66.64 28.86C66.18 28.86 65.78 28.7 65.46 28.37C65.14 28.04 64.98 27.64 64.98 27.17C64.98 26.69 65.14 26.29 65.46 25.96C65.78 25.63 66.18 25.47 66.64 25.47C67.07 25.47 67.44 25.61 67.75 25.91ZM70.58 27.56L71.46 28.81L70.92 28.81L70.07 27.58L69.65 27.58L69.65 28.81L69.2 28.81L69.2 25.51L70.47 25.51C70.79 25.51 71.04 25.61 71.2 25.81C71.36 26.01 71.44 26.26 71.44 26.54C71.44 26.81 71.37 27.04 71.23 27.24C71.09 27.43 70.87 27.54 70.58 27.56ZM70.45 25.92L69.65 25.92L69.65 27.16L70.44 27.16C70.62 27.16 70.76 27.1 70.85 26.98C70.94 26.86 70.99 26.72 70.99 26.54C70.99 26.37 70.94 26.23 70.85 26.11C70.77 25.99 70.63 25.92 70.45 25.92ZM72.34 27.17C72.34 26.69 72.5 26.29 72.83 25.96C73.15 25.63 73.54 25.47 74 25.47C74.47 25.47 74.87 25.63 75.19 25.96C75.51 26.29 75.68 26.69 75.68 27.17C75.68 27.64 75.51 28.04 75.19 28.37C74.87 28.7 74.47 28.86 74 28.86C73.54 28.86 73.15 28.7 72.83 28.37C72.5 28.04 72.34 27.64 72.34 27.17ZM73.14 26.27C72.91 26.52 72.79 26.82 72.79 27.17C72.79 27.52 72.9 27.82 73.14 28.06C73.37 28.31 73.66 28.43 74 28.43C74.35 28.43 74.64 28.31 74.87 28.06C75.11 27.82 75.23 27.52 75.23 27.17C75.23 26.82 75.11 26.52 74.87 26.27C74.64 26.02 74.35 25.9 74 25.9C73.66 25.9 73.38 26.02 73.14 26.27ZM77.39 28.22C77.54 28.36 77.72 28.43 77.93 28.43C78.14 28.43 78.32 28.36 78.46 28.22C78.61 28.08 78.68 27.9 78.68 27.68L78.68 25.51L79.13 25.51L79.13 27.68C79.13 28.03 79.01 28.31 78.78 28.53C78.55 28.75 78.26 28.86 77.93 28.86C77.59 28.86 77.31 28.75 77.08 28.53C76.84 28.31 76.72 28.03 76.72 27.68L76.72 25.51L77.17 25.51L77.17 27.68C77.17 27.9 77.25 28.08 77.39 28.22ZM81.71 25.51C82.03 25.51 82.28 25.61 82.44 25.81C82.6 26.01 82.69 26.26 82.69 26.54C82.69 26.83 82.6 27.08 82.44 27.28C82.28 27.48 82.03 27.58 81.71 27.58L80.84 27.58L80.84 28.81L80.39 28.81L80.39 25.51L81.71 25.51ZM81.7 25.92L80.84 25.92L80.84 27.16L81.68 27.16C81.87 27.16 82.01 27.1 82.1 26.98C82.19 26.86 82.24 26.71 82.24 26.54C82.24 26.37 82.2 26.23 82.1 26.11C82.01 25.99 81.88 25.92 81.7 25.92Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="nonzero"/>
              </svg>
            </div>
          {% else %}
            <div class="sectionHeader__mobileNav_header__logo">
              <img src="{{ section.settings.sectionHeader_mobilLogo | img_url: "master"}}">
            </div>
          {% endif %}
          <div class="sectionHeader__mobileNav_header__closeImg">
            <svg
              width="19.000000"
              height="19.000000"
              viewBox="0 0 19 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <desc>
              		Created with Pixso.
              </desc>
              <defs/>
              <rect id="Rectangle 79" y="17.592529" width="24.879627" height="1.990370" transform="rotate(-45.0001 0.000000 17.592529)" fill="#FFFFFF" fill-opacity="1.000000"/>
              <rect id="Rectangle 367" width="24.879627" height="1.990370" transform="matrix(-0.707105 -0.707108 -0.707105 0.707108 19 17.5925)" fill="#FFFFFF" fill-opacity="1.000000"/>
            </svg>
          </div>
        </div>
        <div class="sectionHeader__mobileNav_header__nav">
          <div class="sectionHeader__mobileNav_header__nav_ul H2Font">
            {% render 'headerUl' %}
          </div>
          <div class="sectionHeader__mobileNav_contactButton">
            {% assign buttonText = section.settings.buttonText %}
            {% render 'contactButton', buttonText: buttonText %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .sectionHeader__logo{
    padding:{{section.settings.padding}}px 0;
  }
</style>

<script>
  document.querySelector('.sectionHeader-hb').addEventListener('click',()=> {
    document.querySelector('.sectionHeader').classList.toggle('nav-active');
  } );
   document.querySelector('.sectionHeader__mobileNav_header__closeImg').addEventListener('click',()=> {
    document.querySelector('.sectionHeader').classList.remove('nav-active');
  } );
</script>
{% schema %}
{
  "name": "sectionHeader",
  "tag":"header",
  "class": "header",
  "settings": [

     {
          "type":"image_picker",
          "id":"sectionHeader_logo",
          "label":"Logo"
        },
     {
          "type":"image_picker",
          "id":"sectionHeader_mobilLogo",
          "label":"Mobile Logo"
        },
     {
        "type": "range",
        "id":"padding",
        "label": "Header height",
        "default":1,
        "min":0,
        "max": 100,
        "step": 1
      },


    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation menu",
      "default":"main-menu"
    },
      {
          "type":"inline_richtext",
          "id":"buttonText",
          "default":" CONTACT US",
          "label":"Button text"
      }
  ],
   "blocks":[
 ],
    "presets":[
  {
    "name":"sectionHeader",
    "blocks": [

      ]
  }
]
}
{% endschema %}
